{% extends "index.html" %}

{% block content %} 
<div class="inner">
			<h1>{{ result_length }} results of {{ industry }} in {{ city }}</h1>
			
			<div class="list col-lg-11">
			{% for result in content %}
				<div class="element">
					<div class="business-data">{{ result["BusinessName"] }} - {{ result["Addr1"] }}, {{ result["Addr2"] }}, {{ result["PostCode"] }}, {{ city }} </div>
					<div class="star-icon"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
			{% endfor %}
			</div>
			
			<div class="aside2 col-lg-1">
				<div class="column">
					<i class="fa fa-list"></i>
				</div>

			</div>

		</div>
{% endblock %}