<html lang="en-GB">
<head>
	<!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>-->
	
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<link href="/static/css/main.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
	<div class="content">
		<div class="search .col-lg-12">
			<h1>Search Business easily</h1>
			<form action="">
				<input type="text" name="industry" placeholder="Industry name">
				<i class="fa fa-plus"></i>
				<input type="text" name="city" placeholder="City">
				<!--<i class="fa fa-share"></i>-->
			</form>
		</div>
	</div>
</body>

</html>